.fetures{
    display: flex;
    justify-content: space-between;

}
.fetures-item{
    width: 270px;
    
}
.icon-box{
    width: 270px;
    background-color: #f5f4fa;
    padding: 25px 100px ;
    margin-bottom: 30px;
}
.fetures-icon{
    width: 70px;
    height: 70px;
}